PokeFlow.json
{
  "name": "PokeFlow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-kata",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9cb209f7-5578-4a38-830d-d23b42d4fcc3",
      "name": "Webhook",
      "webhookId": "34f648e3-25fc-4930-89bb-9117a48d7e90"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Data saved successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        -128
      ],
      "id": "f2939e5c-600a-4200-8340-9df09bcd228a",
      "name": "Respond to Webhook 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92687e0c-b2b6-43ce-b756-5f1e3968fbe2",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "72349d3c-6003-43ce-a784-768cf40366ea",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.full_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        80
      ],
      "id": "2b9994f6-236b-4215-b14b-5a8a6452c7e7",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "t2mFRywaK6yEHeZt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Data saved successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        80
      ],
      "id": "ad061a20-2782-4801-8492-147568d3fdc5",
      "name": "Respond to Webhook "
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $json.body.full_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "f9783096-96b3-47af-a1d4-b17e28174e80",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "t2mFRywaK6yEHeZt",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Respond to Webhook ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "afef97ad-e233-4ed6-8692-5906b1e655b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c860e08da53abd10475b6ec9daebd99ddbb12c15cbd5cb2af60f2ff64eb72641"
  },
  "id": "ucypgEkFWUpgyCJn",
  "tags": []
}